{% extends 'base.html' %}
{% block title %}
    Панель администратора
{% endblock %}
<!--
students - добавленные в базу данных студенты:
    ...[0] - id студента
    ...[1] - Фамилия и имя студента
data - ожидающие ману:
    ...[0] - id студента
    ...[1] - Фамилия и имя студента
    ...[2] - Выдано маны
    ...[3] - Заработано маны
-->
{% block body %}
    <div>
        <h1>Панель администратора</h1>
        <ul>
            <li><a class="menu" type="button" id="update_grades" onclick="get_id(this)">Обновить оценки</a></li>
            <li><a class="menu" type="button" id="add_students" onclick="get_id(this)">Добавить учеников</a></li>
            <li><a class="menu" type="button" id="update_works" onclick="get_id(this)">Обновить работы</a></li>
            <li><a class="menu" type="button" id="restart_students" onclick="get_id(this)">Удалить учеников</a></li>
            <li><a class="menu" type="button" id="rating-btn" onclick="location.href='/rating'">Рейтинг</a></li>
            <script>
                function get_id(obj) {
                    window.location.replace(`/db_operation/${obj.id}`);
                }
            </script>
        </ul>

        <div class="container">

            <div class="students_list_box">
                <h2>Список учеников</h2>
                {% for student in students %}
                    <div>
                        <button class="student_btn" type="button" name="to-student-page-btn" onclick="location.href=`/student/{{ student[0] }}`">{{ student[1] }}</button>
                    </div>
                {% endfor %}
                <div class="space"></div>
            </div>

            <div class="give_mana_box">
                <h2>Выдача маны</h2>
                <div class="scroll">
                    <div class="scroll-content">
                    {% for student in data %}
                        <div class="mana_box">
                            <p>{{ student[1] }}</p>
                            <p>{{ student[3] - student[2] }} маны</p>
                            <button class="give_btn" id="{{ student[0] }}" onclick="get_id_mana(this)">Выдать ману</button>
                            <script>
                                function get_id_mana(obj) {
                                    window.location.replace(`/mana_give/${obj.id}`);
                                }
                            </script>
                        </div>
                    {% endfor %}
                    <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-logout" id="logout-btn" onclick="location.href='/logout'">Выйти</button>
    </div>
{% endblock %}