{% extends 'base.html' %}
{% block title %}
    Панель администратора
{% endblock %}

{% block body %}
    <h1>Админская панель</h1>
    {% for student in data %}
        <div>
            <p>{{ student[1] }}</p><p>{{ student[3] - student[2] }} маны</p>
            <button type="button" id="{{ student[0] }}" onclick="getdetails(this)">Выдать ману</button>
            <script>
                function getdetails(obj) {
                    window.location.replace(`/my-link/${obj.id}`);
                    }
            </script>
        </div>
    {% endfor %}
    <form method="post">
        <div>
            <button type="button" onclick="">Обновить оценки</button>
            <button type="button" onclick="">Обновить учеников</button>
            <button type="button" onclick="">Обновить работы</button>
	    </div>
        <div>
            <button type="button" id="logout-btn" onclick="location.href='/logout'">Выйти</button>
	    </div>
    </form>
{% endblock %}