{% extends 'base.html' %}

{% block title %}
    Курсы прогрессивной математики
{% endblock %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post">
        <p>
	        <input type="text" id="student_login" name="login" placeholder="Логин">
	    </p>
	    <p>
	        <input type="password" id="student_password" name="password" placeholder="Пароль">
	    </p>
	    <p>
	        <input type="submit" name="login" value="Войти">
	    </p>
    </form>

{% endblock %}