{% extends 'base.html' %}

{% block title %}
    Курсы прогрессивной математики
{% endblock %}

{% block body %}
    <div class="login_block">
        <form method="post" class="login_post">
            <!--<div class="login_text">Вход в личный кабинет</div>-->
            <input type="text" class="for_form" name='login' placeholder="Логин">
            <input type="password" class="for_form" name="password" placeholder="Пароль">
            <button type="submit" class="loginpage_button">Войти</button>
            {% for msg in get_flashed_messages() %}
                <div class="flash">{{ msg }}</div>
            {% endfor %}
        </form>
    </div>
{% endblock %}