{% extends 'base.html' %}

{% block title %}
    Курсы прогрессивной математики
{% endblock %}

{% block body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
	    <input type="text" id="student_login" name="username" class="form-control" placeholder="Логин">
	</p>
	<p>
	    <input type="password" id="student_password" name="password" class="form-control" placeholder="Пароль">
	</p>
	<p>
	    <input type="submit" name="submit" class="btn btn-success" value="Войти">
	</p>
    </form>

{% endblock %}