{% extends 'base.html' %}

{% block title %}
    Рейтинг | Курсы прогрессивной математики
{% endblock %}
<!--
data - список учеников в бд:
    ...[0] - student_id
    ...[1] - Фамилия и имя ученика
    ...[2] - lvl ученика
-->
{% block body %}
    <div class="rating_block">
        <h1>Рейтинг</h1>
        {% for student in data %}
            <div {% if current_id == student[0] %} class="current_rating" {% endif %} id="{{ student[0] }}">
                <p> {{ student[1] }} | {{ student[2] }} уровень</p>
            </div>
        {% endfor %}
    </div>
    {% if current_user.student_id == 999 %}
        <button type="button" class="btn back-to-admin-btn from-stats" onclick="location.href='/admin'">Админка</button>
    {% endif %}
    <button type="button" class="btn btn-logout" id="logout-btn" onclick="location.href='/logout'">Выйти</button>
    <button type="button" class="btn btn-back-rating" onclick="history.back()">Назад</button>
{% endblock %}