{% extends 'base.html' %}

{% block title %}
    {{ current_user.student_name }} | Личный кабинет
{% endblock %}

{% block body %}
    <div id="wrap">
        <h1>{{ current_user.student_name }}</h1>
        <div>
            <p>Текущий прогресс домашних работ</p>
            <progress max="100" value={{ data[0] }}></progress>
        </div>
        <div>
            <p>Текущий прогресс классных работ</p>
            <progress max="100" value={{ data[1] }}></progress>
        </div>
        <div>
            <p>Результат последней домашней работы</p>
            <progress max="100" value={{ data[2] }}></progress>
        </div>
        <div>
            <p>Результат последней классной работы</p>
            <progress max="100" value={{ data[3] }}></progress>
        </div>
        <div>
            <p>Уровень домашних работ {{ data[4] }}</p>
        </div>
        <div>
            <p>Уровень классных работ {{ data[5] }}</p>
        </div>
        <form method="post">
            <div>
                <button type="button" id="logout-btn" onclick="location.href='/logout'">Выйти</button>
            </div>
        </form>
    </div>
{% endblock %}