{% extends 'base.html' %}

{% block title %}
    {{ data[7] }} | Личный кабинет
{% endblock %}
<!--
data[0] - % в домашках
data[1] - % в классных
data[2] - % в последней домашке
data[3] - % в последней классной
data[4] - lvl
data[6] - Мана
data[7] - Фамилия и имя ученика
data[8] - id ученика
-->
{% block body %}
    <div>
        <h1>{{ data[7] }}</h1>
        <div>
            <p>Текущий прогресс домашних работ</p>
            <progress max="100" value={{ data[0] }}></progress>
        </div>
        <div>
            <p>Текущий прогресс классных работ</p>
            <progress max="100" value={{ data[1] }}></progress>
        </div>
        <div>
            <p>Результат последней домашней работы</p>
            <progress max="100" value={{ data[2] }}></progress>
        </div>
        <div>
            <p>Результат последней классной работы</p>
            <progress max="100" value={{ data[3] }}></progress>
        </div>
        <div>
            <p>Уровень: {{ data[4] }}</p>
        </div>
        <div>
            <p>Мана: {{ data[6] }}</p>
        </div>
        <div>
            <button type="button" id="more-btn" onclick="location.href=`/stats/{{ data[8] }}`">Подробная статистика</button>
        </div>
        <div>
            <button type="button" id="logout-btn" onclick="location.href='/logout'">Выйти</button>
            <button type="button" id="rating-btn" onclick="location.href='/rating'">Рейтинг</button>
            {% if current_user.student_id == 999 %}
                <button type="button" id="back-to-admin-btn" onclick="location.href='/admin'">Админка</button>
            {% endif %}
        </div>
    </div>
{% endblock %}